<div 
    class="transition ease-in-out duration-500 w-full bg-slate-50 h-[calc(100vh-60px)] p-2 rounded-lg lg:rounded-none shadow-xl flex flex-col gap-2">
    <div class="flex items-center justify-between w-full">
        <span class="font-black capitalize text-[20px]">{{ term.term }}</span>
        <span (click)="closeDetails()" class="font-thin material-symbols-outlined table lg:hidden"
            role="button">close</span>
    </div>
    <div>
        <app-select *ngIf="term.translations"></app-select>
    </div>
    <div>
        {{term.definition}}
    </div>
</div>