<div
    class="w-screen h-screen bg-slate-50 dark:bg-slate-950 overflow-hidden flex items-center justify-center flex-wrap gap-3 p-7">
    <div class="w-full flex-grow min-w-[47%] flex flex-col items-start justify-center">
        <app-dark-mode></app-dark-mode>
        <p class="text-[70px] text-slate-950 dark:text-slate-400 h-[400px] md:h-[100px] ">
            <app-typing-effect></app-typing-effect>
        </p>
        <p class="text-slate-500 text-[30px]">Talk, vent, share ideas, or just look at each other awkwardly</p>
        <app-room-creator-form></app-room-creator-form>
    </div>
    <div class="w-full flex-grow min-w-[47%]"></div>
</div>