<div class="flex flex-col items-center justify-center p-4 h-[calc(100vh-70px)]">
    <div class="w-auto lg:w-[600px] relative flex flex-col items-center justify-center">
        <p class="text-red-950 dark:text-red-800 w-[500px] text-[80px] lg:text-[90px] text-center font-black z-[5]">
            CONNECT
        </p>
        <p
            class="text-red-950 dark:text-red-800 w-[500px] text-[60px] lg:text-[70px] text-center font-black mt-[-30px] z-[5] lg:z-[0] ">
            WITH PEERS
        </p>
        <div class="text-red-950 dark:text-red-200">
            One on one with like minded smegheads
        </div>
        <!-- Left -->
        <div class="bg-red-300 rounded-full h-[100px] z-[1] w-[100px] absolute top-[-20px] left-[0px] lg:left-[30px]"></div>
        <div class="bg-red-300 rounded-full h-[140px] w-[140px] absolute top-[100px] left-[-40px]"></div>
        <div class="bg-red-300 rounded-full h-[50px] w-[50px] absolute top-[260px] left-[50px] lg:left-[20px] z-[9]"></div>
        <!-- Right -->
        <div class="bg-red-300 rounded-full h-[80px] w-[80px] absolute top-[-10px] right-[40px] lg:right-[80px]"></div>
        <div class="bg-red-300 rounded-full h-[100px] w-[100px] absolute top-[130px] right-[0px]"></div>
        <div class="bg-red-300 rounded-full h-[50px] w-[50px] absolute top-[260px] right-[30px] z-[1]"></div>
        <div class="w-[70vw] lg:w-[500px] z-[5]">
            <app-room-creator-form class="z-[5] w-[70vw] lg:w-[500px]"></app-room-creator-form>
        </div>
    </div>
</div>