<div class="flex items-center justify-between gap-3 px-5">
    <div></div>
    <nav class="flex items-center justify-center gap-3 h-[70px]">
        <a href="/"
            class="font-semibold text-slate-950 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-600 text-[20px]">Home</a>
        <a href="/terms"
            class="font-semibold text-slate-950 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-600 text-[20px]">Terms</a>
        <a href="/"
            class="font-semibold text-slate-950 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-600 text-[20px]">About</a>
        <a href="/"
            class="font-semibold text-slate-950 hover:text-slate-500 dark:text-slate-300 dark:hover:text-slate-600 text-[20px]">FaQ</a>
    </nav>

    <app-dark-mode></app-dark-mode>
</div>