<div class="flex flex-col gap-3 dark:text-slate-200">
  <div class="video-section">
    <div class="local-video-container">
      <h3>Your Video</h3>
      <video #localVideo autoplay muted playsinline [style.display]="is_broadcasting ? 'block' : 'none'"></video>
      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>

    <div class="remote-video-container" [style.display]="(is_viewing && broadcasters.length > 0) ? 'block' : 'none'">
      <h3>Remote Stream</h3>
      <video #remoteVideo autoplay playsinline></video>
    </div>
  </div>

  <div class="flex items-center gap-3">
    <button (click)="startBroadcast()" [disabled]="is_broadcasting || is_viewing">
      <span *ngIf="!is_broadcasting">Go Live</span>
      <span *ngIf="is_broadcasting">Broadcasting...</span>
    </button>
    <button class="bg-red-300 text-slate-300 p-3 rounded-lg hover:bg-red-400" (click)="stopBroadcast()" *ngIf="is_broadcasting">
      End Stream
    </button>
  </div>
  <div class="broadcaster-list">
    <h2>Available Broadcasters</h2>
    <div *ngIf="broadcasters.length === 0" class="no-broadcasters">
      No active broadcasters
    </div>
    <!-- <button (click)="requestBroadcastersList()">Request broadcasters list</button> -->
    <ul>
      <li *ngFor="let broadcaster of broadcasters" class="flex items-center gap-3">
        <span>Broadcaster: {{ broadcaster.name || broadcaster.user_id }} ({{broadcaster.viewerCount}} watching)</span>
        <button class="p-2 bg-indigo-600 {{broadcaster.id}}" (click)="initiateStreamJoin(broadcaster.id)"
          [disabled]="is_broadcasting">Join Stream</button>
      </li>
    </ul>
  </div>
</div>