<div class="relative w-screen h-screen overflow-hidden flex">
    <div class="flex flex-col items-start justify-start flex-grow">
        <div class="overflow-y-auto flex flex-grow items-center justify-center flex-wrap w-full h-full">
            <div *ngFor="let stream of streams"
                class="self-stretch flex flex-grow items-center justify-center w-auto min-w-[300px] h-auto max-h-full min-h-[200px] bg-black">
                <video class="bg-slate-900 w-auto max-w-full self-stretch h-auto max-h-full"></video>
            </div>
        </div>
        <div class="h-[100px]">
            <app-dark-mode></app-dark-mode>
        </div>
    </div>
    <div class="h-full w-[500px] bg-white dark:bg-slate-950">
        <div class="flex w-full gap-2 items-center justify-center p-2">
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Chat
            </div>
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Details
            </div>
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Paticipants
            </div>
        </div>
    </div>

    <div class="fixed top-0 left-0">
        <input type="number" [(ngModel)]="streams.length" min="1" max="120" step="1" (input)="updateVideoSizes()">
        {{video_sizes | json}}
    </div>
</div>