<div class="relative w-screen h-screen overflow-hidden flex">
    <div class="flex flex-col items-start justify-start flex-grow">
        <div class="overflow-y-auto flex flex-grow items-center justify-center flex-wrap w-full h-full">
            <video class="rounded-md border-none bg-black w-full h-full max-w-full max-h-full object-fit"
                #local_video_element id="local_video" autoplay muted playsinline></video>
            <div *ngFor="let remote of remote_streams"
                class="self-stretch flex flex-grow items-center justify-center w-auto min-w-[300px] h-auto max-h-full min-h-[200px] bg-black">
                <video id="remote_video" [appSrcObject]="remote.stream" autoplay playsinline
                    class="bg-slate-900 w-auto max-w-full self-stretch h-auto max-h-full rounded-md border-none object-fit"
                    autoplay muted="muted"></video>
            </div>
        </div>
        <div class="h-[100px]">
            <app-dark-mode></app-dark-mode>
        </div>
    </div>
    <div class="h-full w-[500px] bg-white dark:bg-slate-950">
        <div class="flex w-full gap-2 items-center justify-center p-2">
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Chat
            </div>
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Details
            </div>
            <div
                class="flex-grow rounded-xl text-center px-3 py-2 bg-slate-300 dark:bg-slate-800 text-slate-950 dark:text-slate-200">
                Paticipants
            </div>
        </div>
        <div class="flex flex-col gap-2">
            Users
            <p *ngFor="let user of connected_users" class="w-full hover:bg-orange-50">
                {{user|json}}
            </p>
        </div>
    </div>

    <div class="fixed top-0 left-0 bg-white">
        {{remote_streams | json}}
    </div>
</div>