/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tiny-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #2b0707 #a56767;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #991b1b;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #991b1b;
        border-radius: 6px;
        border: 3px solid #991b1b;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #991b1b;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #991b1b;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: #991b1b;
    }

    &::-webkit-resizer {
        display: none;
    }

    &::-webkit-scrollbar-track-piece:start {
        background-color: #991b1b;
    }

    &::-webkit-scrollbar-track-piece:end {
        background-color: #991b1b;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        border: 3px solid #991b1b;
    }

    &::-webkit-scrollbar-thumb:vertical {
        border: 3px solid #991b1b;
    }

    &::-webkit-scrollbar-thumb:horizontal:hover {
        background-color: #991b1b;
    }

    &::-webkit-scrollbar-thumb:vertical:hover {
        background-color: #991b1b;
    }
}

.hidden_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}